# AWS Config
LAMBDA_YOUTUBE_DOWNLOAD_FUNCTION="fmplayer-youtube-downloader"
S3_SONG_CONVERSION_BUCKET=""
S3_SONGS_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Vercel Config
VERCEL="1"
VERCEL_ENV="development"
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""
NX_DAEMON=""
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""

## Database Config
# For development these two variables should be the same.
# The syntax for a database connection string is as follows:
#   mysql://[username]:[password]@[hostname]:[port]/[databasename]
# If your database user does not have a password, you can omit the colon and password.
DATABASE_URL="mysql://root@localhost:3306/fmplayer"
DIRECT_DATABASE_URL="mysql://root@localhost:3306/fmplayer"

## Ably Config
# This is used to connect to the ably realtime service.
# While this is not required, updates to the database WILL NOT be reflected on the web client
ABLY_ROOT_KEY=""

## App Config
# A sha256 hash of the password you would like to use when logging in to the app.
# This is not required when auth is turned off in the config
# This hash can be created on a bash/zsh shell using the command
#   $ echo -n "<Your Password>" | shasum -a 256 | awk '{ print $1 }'
# You can also go to one of many online sha256 hashing websites and create it there
PASSWORD_HASH=""

# A secret string used for signing login tokens. This can be any secret that you want.
# This is not required when auth is turned off in the config
# Simply mashing your keyboard should be adequate for this
JWT_SECRET_KEY=""