@tailwind base;
@tailwind components;
@tailwind utilities;

.audio-button {
  @apply m-2;
  &:disabled {
    @apply text-gray-500;
  }
  &:not(:disabled) {
    .lucide {
      @apply transition-transform;
    }
    &:hover .lucide {
      @apply scale-90;
    }
  }
}

.app-container {
  grid-template-areas:
    "sidebar main main main main main"
    "controls controls controls controls controls controls";
}

.audio-controls {
  grid-area: controls;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
