@tailwind base;
@tailwind components;
@tailwind utilities;

.audio-button:not(:disabled) {
  @apply m-2;
  .lucide {
    @apply transition-transform;
  }
  &:hover .lucide {
    @apply scale-90;
  }
}

.app-container {
  grid-template-areas:
    "sidebar main main main main main"
    "controls controls controls controls controls controls";
}

.audio-controls {
  grid-area: controls;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}
