.input {
  @apply border-2 p-2 rounded-lg;
}

%default-input-outline {
  outline: -webkit-focus-ring-color auto 1px;
}

/* stylelint-disable-next-line selector-class-pattern */
.child-input-focused\:default-input-outline:has(input:focus) {
  @extend %default-input-outline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
}
